*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: Righteous;
    --cyberYellow: #FFDC00;
    --sleekGrey: #DDDDDD;
    --aquaticBlue: #7FDBFF;
    --pirateNavy: #001f3f;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #001f3f;
    /* TESTING DEVELOPMENT */
    background-color: white;
}

h1 {
    grid-column: 1 / 3;
    justify-self: center;
    font-size: 47px;
    color: var(--cyberYellow);
    /* TESTING DEVELOPMENT */
    color: black; 
}

.boards {
    margin-top: 30px;
    width: 30vw;
    height: 69vh;
    border: solid whitesmoke 7px;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);

    /* TESTING DEVELOPMENT */
    border: solid black 3px;
}

.boards.board1{
    margin-left: 100px;
}



.squares,
.squares-computer {
    border: solid whitesmoke 1px;
    /* TESTING DEVELOPMENT */
    border: solid black 1px;
}


.hovered-ship {
    background-color: black;
}

.revealed-ship {
    background-color: red;
}

/* NOTE ON VERTICAL POSITIONING ----------------------------------------> */
/* WHEN WE PLACE OUR OWN SHIPS, IF WE'RE POSITIONING THE SHIP VERTICALLY, just :nth-child(10n) */
/* WE want to select every other 10th square. So vertically we're selecting A2, B2, C2, etc */
/* HOWEVER, WE'RE GETTING THE COORDINATES FROM THE LOGIC, NOT THE CSS! */
/* So what we do is when we click the square, we get the index of its id in allSquaresXD nodeList with querySelectorAll, to do that, we first need to make an Array.from(allSquaresXD)*/
/* And after we have the id in the Array, just loop over the original nodeList up to the length of the ship currently being placed.  */
/* Each loop, we find the item at 0 + 10 */
button {
    max-width: max-content;
    max-height: max-content;
}

.hello {
    color: red;
    font-size: 100px;
}

.coloured-in {
    background-color: crimson;
}


@font-face {
    font-family: 'Righteous';
    src: url('./fonts/Righteous-Regular.ttf') format('truetype');
}